# Server Environment
APP_ENV=development
APP_PORT=8080

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=parkir_v3
DB_USER=root
DB_PASSWORD=root

# Security
JWT_SECRET=rahasia-jwt-anda-di-sini

# Payment Gateway (Midtrans)
MIDTRANS_SERVER_KEY=Mid-server-YmntLTRttQb7rPqpxtV67NFv
MIDTRANS_CLIENT_KEY=Mid-client-CFyKxclpXdN9CBpK

# Storage & Assets URL
IMAGE_BASE_URL=http://localhost:8080
